<section id="contact">
      <h1>
        elérhetőségek
      </h1>
      <span>
        tesztaudiokft@gmail.com
      </span>
      <div class="social-media-container">
       <img src="./../../../assets/images/instagram.png">
       <img src="./../../../assets/images/youtube.png">
       <img src="./../../../assets/images/facebook.png">
      </div>
      <h2> legyen szó...</h2>
      <div class="paragraph-container">
        <div class="paragraph">
          <h3>
            Házibuliról
          </h3>
          <p>
            <strong>Legyen</strong> szó egy születésnapról vagy  ballagási buliról rám lehet számítani
          </p>
        </div>
        <div class="paragraph">
          <h3>
            Falunapról
          </h3>
          <p>
            <strong>Minden</strong> korosztály számára tudok megfelelő hangulatot teremteni akár kis és nagy községekben is
          </p>
        </div>
        <div class="paragraph">
          <h3>
            Fesztiválról
          </h3>
          <p>
            <strong>Megfelelő</strong> tudással és felszereléssel rendelkezek akár több ezer fő szórakoztatására is
          </p>
        </div>
      </div>
</section>
