<section  id="gallery">
        <div class="images-div">
                <img src="../../assets/images/galleryThumbnailImages/fasz1.jpg" (click)="showGallery(index)">
                <img src="../../assets/images/galleryThumbnailImages/fasz2.jpg" (click)="showGallery(index)">
                <img src="../../assets/images/galleryThumbnailImages/fasz3.jpg" (click)="showGallery(index)">
                <img src="../../assets/images/galleryThumbnailImages/fasz4.jpg" (click)="showGallery(index)">
                <img src="../../assets/images/galleryThumbnailImages/fasz5.jpg" (click)="showGallery(index)">
                <img src="../../assets/images/galleryThumbnailImages/fasz6.jpg" (click)="showGallery(index)">
        </div>
</section>
