.audio-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

mat-slider{
  width: 100%;
}

.button-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-container button{
  margin-inline: 1rem;
  min-height: 4rem;
  max-width:2rem;
  border-radius: 50%;
}

.title{
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  color:white;
}


